.board {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 95vw;
    min-width: 342px;
    min-height: calc(100vh - 173px); //-200px
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid $color_border;
    overflow-x: hidden;
    background: url('../img/scrum2.png');
    background-position: right 10px bottom 10px;
    background-repeat: no-repeat;
    background-size: 300px 200px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 60px;
        //width: inherit;
        border-bottom: 1px solid #ccc;
        background-color: #e8e8e8;
        &-title {
            white-space: nowrap;
        }
    }
    &__columns {
        padding: 20px;
        height: 100%;
        width: fit-content;
        display: flex;
        justify-content: start;
        align-items: start;
        &-wrapper {
            flex: auto;
            overflow: auto;
        }
    }
}
