.column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 10px;
    width: 220px;
    padding: 10px;
    border: 2px solid #edeff2;
    border-radius: 5px;
    &-create {
        margin-right: 10px;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid#edeff2;
        padding: 5px;
        &_remove {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &-img {
                width: 15px;
                height: 15px;
                filter: contrast(10%);
            }
        }
    }
    &__tasks {
        min-height: 0px;
    }
    &__add-task {
        padding: 5px;
        cursor: pointer;
        color: #7d8fb3;
        &:hover {
            background-color: #edeff2;
        }
    }
}
