.column {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 200px;
    height: 400px;
    &_create {
        display: flex;
        justify-content: center;
        width: 200px;
        padding: 5px;
        background-color: gray;
    }
}
