body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #4d5e80;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(20, 56, 97, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #edeff2;
    border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4d5e80;
}
