.footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    height: 60px;
    padding: 0 20px;
}

.logo-rss {
    height: 40px;
    cursor: pointer;
}

.btn {
    color: black;
}

.logo-git {
    height: 40px;
    cursor: pointer;
}

.categories {
    display: flex;
    list-style-type: none;
}

.categories .category {
    display: flex;
    position: relative;
}

.categories .category a img {
    width: 50px;
}

.categories .category:hover .submenu {
    display: flex;
}

.categories .category .submenu {
    list-style-type: none;
    padding: 10px;
    display: none;
}

.categories .category .submenu li a {
    color: #222;
    margin-right: 10px;
}
.categories .category .submenu li a:hover {
    color: #ff7300;
}
