.header {
    padding: 25px 23px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    margin-bottom: 35px;
    border-bottom: 2px solid #edeff2;
    &__logo {
        font-weight: bold;
        font-size: 18px;
    }
    &__menu {
        grid-column: span 2;
        &-list {
            display: flex;
            &-item {
                margin-right: 21px;
                &-link {
                    font-size: 13px;
                    color: #7d8fb3;
                }
            }
        }
    }
    &__user-block {
        grid-column-start: -1;
        display: flex;
        align-items: center;
        &-img {
            display: inline-block;
            margin-right: 14px;
        }
        &-info {
            font-weight: bold;
            font-size: 13px;
        }
    }
}
