.header {
    padding: 25px 23px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    margin-bottom: 35px;
    border-bottom: 2px solid #edeff2;
    &__logo {
        font-weight: bold;
        font-size: 18px;
    }
    &__menu {
        grid-column: span 2;
        &-list {
            display: flex;
            &-item {
                margin-right: 21px;
                &-link {
                    font-size: 13px;
                    color: #7d8fb3;
                }
            }
        }
    }
    &__user-block {
        position: relative;
        grid-column-start: -1;
        display: flex;
        align-items: center;

        &-img {
            display: inline-block;
            margin-right: 14px;
            cursor: pointer;
        }
        &-info {
            font-weight: bold;
            font-size: 13px;
        }
        &-menu {
            position: absolute;
            z-index: 999;
            width: 232px;
            top: 30px;
            left: -170px;
            padding: 20px 15px;
            color: #7d8fb3;
            font-size: 14px;
            background-color: #edeff2;
            border-radius: 3px;
            box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
            box-sizing: border-box;
            &-title {
                color: black;
                padding-bottom: 10px;
                cursor: pointer;
            }
            &-img {
                width: 40px;
                height: 40px;
            }
            &-info {
                display: flex;
                align-items: center;
                padding-bottom: 10px;
                &-container {
                    display: flex;
                    flex-direction: column;
                }
                &-name {
                    font-size: 14px;
                    font-weight: 700;
                    color: black;
                }
                &-login {
                    font-size: 12px;
                    font-weight: 200;
                    color: gray;
                }
            }
            &-logout {
                border-top: 1px solid white;
                padding-top: 10px;
                cursor: pointer;
            }
            &_hide {
                display: none;
            }
        }
    }
}
