.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 0 20px;
    &__list {
        display: flex;
        &-item {
            margin-right: 20px;
            cursor: pointer;
        }
    }
}

.home-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 117px);
    background: linear-gradient(180deg, rgba(86, 8, 196, 0.7) 34.38%, rgba(184, 0, 132, 0.7) 79.69%);
    padding: 100px 0;
    &__greating {
        max-width: 300px;
        color: white;
        margin-left: 100px;
        &-title {
            font-size: 32px;
        }
        &-text {
            font-size: 16px;
        }
    }
    &__collage {
        width: 250px;
        background-image: url(../img/home-page-collage.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.home-auth {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.home-auth > input {
    height: 40px;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 10px;
    margin-right: 10px;
    padding: 0 20px;
}

.home-auth > button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
}

.home-collage {
    width: 400px;
}
