.task {
    &-create {
        width: 100%;
    }
}
.column__tasks {
    display: flex;
    flex-direction: column;
    background-color: #edeff2;
}
.column__task {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    min-height: 40px;
    cursor: pointer;
    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 5px;
        padding: 10px 5px;
        padding: 1px;
        min-height: 40px;
    }
}
